@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  background-color: rgb(196, 196, 196);
}

.container {
  width: 620.25px;
  height: 877.25px;
  margin: auto;
  background: url("./assets/icon/background.jpg") center/cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.part1 {
  width: 63%;
  margin-top: 12px;
  margin-left: 27px;
}

.part2 {
  width: 37%;
  margin-top: 52px;
  margin-left: 15px;
  color: #fff;
}

.part2 h3 i {
  color: #000;
}

.int {
display: flex;

}

.header {
  padding-top: 29px;
  color: white;
}

.profilimage {
  width: 102px;
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  border-radius: 11%;
}

.name {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 54px;
  margin-left: 29px;
}

.title {
  display: inline-block;
  vertical-align: top;
  margin-left: 112px;
  margin-top: 41px;
  font-size: 1.2em;
}

.soustitre {
  display: inline;
  margin-left: 22px;
  font-weight: 700;
}

#titre {
  display: inline;
}

#sstitre {
  display: inline;
}

#titreSection {
  font-size: 0.8em;
}

#sectionItem {
  margin-left: 40px;
}

#paragrapheSection, #skill {
  font-size: 0.65em;
}

#skill {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.part2 .soustitre {
  margin-left: 10px;
}
